body{
	margin: 0px;
	background-color: beige;
}

#Header{
	background-color: black;
	width: 100%;
	height: 200px;
	color: beige;
	font-size: 7em;
	font-family: 'Segoe UI Light',sans-serif;
	text-align: center;
	/*position: fixed;*/
	left: 0px;
	top: 0px;
}
#Upwhite{
	background-color: beige;
	width: 100%;
	height: 200px;
}

#Edge{
	font-family: '微软雅黑';
	position: fixed;
	top: 200px;
	/*left: calc(100%-100px);*/
	left: 95%;
	background-color: bisque;
}

#Introduction{
	width: 100%;
	height: 100%;
	font-family: '微软雅黑';
}

#Page > nav{
	font-family: '微软雅黑';
	background-color: beige;
	width: 100%;
	height: 100%;
}
#Page > nav a:link{
	background-color: darkgray;
	color: beige;
	font-family: '微软雅黑';
	text-decoration: none;
}

#ForAdministrator{
	font-family: '微软雅黑';
	width: 100%;
	height: 100%;
}

#ForFreeman{
	font-family: '微软雅黑';
	background-color: orange;
	width: 100%;
	height: 100%;
}

#ForWorkshop{
	font-family: '微软雅黑';
	width: 100%;
	height: 100%;
}

#HelpUs{
	font-family: '微软雅黑';
	background-color: orange;
}

#Footer{
	font-family: '微软雅黑';
	background-color: darkgray;
	color: white;
}

#Footer a:link{
	color: aqua;
}

#Cleaner{
	clear: both;
}

h1,h2{
	font-family: '方正兰亭超细黑简体','微软雅黑';
}
